body {
    font-family: 'Cairo', sans-serif;
    background-color: #e4e0d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #6B313F;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #213d53;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #213d53;
}

.note {
    font-size: 0.85em;
    color: #555;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

iframe {
    width: 80%;
    height: 300px;
    text-align: center;
    border: none;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.sort-container {
    margin-bottom: 20px;
    text-align: center;
}

.chat-container {
    width: 80%;
    max-width: 600px;
    background-color: #6b313f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.chat-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #6b313f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-bubble {
    background-color: #fee4cf;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    max-width: 80%;
    word-wrap: break-word;
}

.timestamp {
    font-size: 0.75em;
    color: #555;
    position: absolute;
    top: 10px;
    left: 10px;
}

.message {
    margin-top: 5px;
    color: #213d53;
    margin-bottom: 5px;
    line-height: 1.6;
}

.signature {
    font-size: 0.75em;
    color: #555;
    text-align: right;
    margin-top: 5px;
}

.scroll-button {
    width: 50px;  /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    padding: 10px;  /* Optional, for inner padding */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #213d53;
    color: white;
    border: none;
    border-radius: 50%;  /* Ensures it's a perfect circle */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    display: flex;  /* Centering text inside */
    align-items: center;  /* Centering text inside */
    justify-content: center;  /* Centering text inside */
    font-size: 1.5em; /* Increase this value to make the emoji larger */
}

.scroll-button:hover {
    background-color: #213d53;
}

.share-button {
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 1em;  /* Ensures icon/text is visible */
}

.share-button:hover {
    background: #0056b3;
}

.share-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

#bottom-of-page {
    height: 50px; /* Just to ensure it is visible */
}
